header {
  display: flex;
  color: white;
}

.logo {
  width: 100px;
  padding-left: 5%;
}

.LinksForNav ul {
  display: flex;
  list-style-type: none;
  margin-left: 950px;
  margin-top: 35px;
  gap: 30px;
  color: white;
}

.LinksForNav a {
  text-decoration: none;
  color: white;
}

.LinksForNav a:hover {
  text-decoration: none;
  color: midnightblue;
}

.ForFun {
  display: flex;
  color: midnightblue;
  padding-left: 37%;
}

p {
  padding: 10px;
  font-size: 25px;
  padding-right: 10%;
  padding-left: 10%;
}

hr {
  opacity: 15%;
  margin-left: 60px;
  margin-right: 60px;
}

body {
  font-family: "Momo Trust Display", sans-serif;
  background: linear-gradient(to bottom, #89526a, #cf91ac);
  color: white;
}

h2 {
  padding: 15px;
  margin-left: 42%;
}

.imgpro {
  display: block;
  width: 200px;
  margin-left: 630px;
  border-radius: 50%;
  border: 5px solid rgb(100, 57, 100);
}

.DefiForMe {
  padding-right: 10%;
  padding-left: 10%;
}

.MyLanguages UL {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-left: 550px;
  color: #1c3a53;
}

.footer {
  background-color: #1c3a53;
  margin: -9px;
}

.cntt ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-left: 580px;
}

.cntt a {
  text-decoration: none;
  color: white;
}

.cntt a:hover {
  color: violet;
}

.serverD {
  color: black;
}

.eml {
  padding-left: 560px;
}

.spr {
  padding-left: 580px;
}

.apple {
  width: 80px;
  padding-left: 30%;
  padding-bottom: 10px;
}

.github {
  width: 80px;
  padding-left: 10%;
  padding-bottom: 10px;
}

.reddit {
  width: 80px;
  padding-left: 10%;
  padding-bottom: 10px;
}
